<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Leaves System</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<h3>Employee Leaves</h3>

<form th:action="@{/newleave}" method="POST" th:object="${newleave}">
  <table border='1' cellspacing='0' cellpadding='10'>
    <tr><td>From Date:</td> <td> <input type="date" th:field="*{from_date}"/> </td></tr>
    <tr><td>To Date:</td> <td> <input type="date" th:field="*{to_date}"/> </td></tr>
    <tr><td>Reason:</td> <td> <input type="text" th:field="*{reason}"/> </td></tr>
    <tr><td colspan='2' align='center'> <input type="submit" value="Request"/> </td> </tr>
  </table>
</form>

<table border='1' cellspacing='0' cellpadding='10'>
  <thead><tr><th>Id</th><th>From Date</th><th>To Date</th><th>Reason</th><th>Status</th><td>Action</td></tr></thead>
  <tbody>
  <tr th:each="leave : ${leaves}">
    <td><label type="text"
               th:text="${leave.id}" /></td>
    <td><label type="text"
               th:text="${leave.from_date}" /></td>
    <td><label type="text"
                th:text="${leave.to_date}"/></td>
    <td><label type="text"
                th:text="${leave.reason}"/></td>
    <td th:switch="${leave.status}">
      <span th:case="'0'">NEW</span>
      <span th:case="'1'">CANCELED</span>
      <span th:case="'2'">APPROVED</span>
      <span th:case="'3'">REJECTED</span>
    </td>
    <td th:switch="${leave.status}">
      <span th:case="'0'"><a th:href="@{/cancelLeave/{id}(id = ${leave.id})}">Cancel</a></span>
      <span th:case="'1'">NONE</span>
      <span th:case="'2'">NONE</span>
      <span th:case="'3'">NONE</span>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>