<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Leaves System</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<h3>Available  Leaves</h3>

<table border='1' cellspacing='0' cellpadding='10'>
  <thead><tr><th>Id</th><th>Employee</th><th>From Date</th><th>To Date</th><th>Reason</th><th>Status</th><td>Action</td></tr></thead>
  <tbody>
  <tr th:each="leave : ${leaves}">
    <td><label type="text"
               th:text="${leave.id}" /></td>
    <td><label type="text"
                th:text="${leave.emp}"/></td>
    <td><label type="text"
               th:text="${leave.from_date}" /></td>
    <td><label type="text"
               th:text="${leave.to_date}"/></td>
    <td><label type="text"
               th:text="${leave.reason}"/></td>
    <td th:switch="${leave.status}">
      <span th:case="'0'">NEW</span>
      <span th:case="'1'">CANCELED</span>
      <span th:case="'2'">APPROVED</span>
      <span th:case="'3'">REJECTED</span>
    </td>
    <td>
      <span><a th:href="@{/approveLeave/{id}(id = ${leave.id})}">Approve</a>
      <br/>
      <a th:href="@{/rejectLeave/{id}(id = ${leave.id})}">Reject</a></span>

    </td>
  </tr>
  </tbody>
</table>
</body>
</html>